<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="test 1">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="Base_Test_Page.LoginTest">
        </class>
        </classes>
    </test>
    <test name="test 2 ">
        <parameter name="browserName" value="firefox"/>
        <classes>
            <class name="Base_Test_Page.ProductPageTest">
            </class>
        </classes>
    </test>
</suite>